.bg-dark{
    background-color: black;
}
.bg-white{
    background-color: rgb(248, 248, 248);
}
.text-white{
    color: white;
}
.text-black{
    color: black;
}
.text-center{
    text-align: center;
}
.text-bold{
    font-weight: bold;
    font-size: 1.6rem;
}
footer{
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.bar-text{
    font-weight: bolder;
    color: white;
}
hr{
    border: none;
	height: 0.1rem;
	background-color: #0a0a0a;
}
#DtgIDIput,#DtgpwdIput{
    border-width: 0.5rem;
    width: 40rem;
    height: 6rem;
    font-size: 2rem;
    border-radius:2rem; 
}
#DtgIDSubmit{
    border-width: 0.5rem;
    width: 40rem;
    height: 6rem;
    font-size: 2rem;
    background-color: rgb(0, 113, 227);
    color: white;
    border-radius:2rem; 
}